MP_MODE=<MP_MODE>

# Database credentials
DB_HOST=<MASTER_IP>
DB_PORT=<DB_PORT>
DB_USER=postgres
DB_PASS=<DB_PASS>

# MQTT engine
MOSQUITTO_IP=<MASTER_IP>
MOSQUITTO_PORT=<MOSQUITTO_PORT>

REGISTRY_IP=<MASTER_IP>
GITLAB_IP=<MASTER_IP>
CRYPTO_KEY=YDbxyG16Q6ujlCpjXH2Pq7nPAtJF66jLGwx4RYkHqhY=

DHCP_OVERWRITE=true
MULTIPAAS_CFG_DIR=<MULTIPAAS_CFG_DIR>
VM_BASE_DIR=<VM_BASE_HOME>
DEFAULT_INET_INTERFACE="<NET_INTEFACE>"
DEFAULT_INET_INTERFACE_SHORT="<NET_INTEFACE>"

# What subnet is MultiPaaS installed on, along with the reserved IPs
CLUSTER_ENGINE=virtualbox

IS_K8S_NODE=<IS_K8S_NODE>
IS_GLUSTER_PEER=<IS_GLUSTER_PEER>
GLUSTER_VOLUME=<GLUSTER_VOL>